.Info{
    margin-top: 200px;
}

.Info__title{
    font-family: 'Lemonada';
    font-size: 50px;
    color: #000;
}

.title__center{
    text-align: center;
}

.Info__content{
    margin-left: 100px;
}

.Info__image{
    width: 50vw;
    object-fit: contain;
}

.Info__image_2{
    margin-left: 10vw;
    border: 5px solid black;
    max-width: 70vw;
    width: 30vw;
    height: 30vw;
    object-fit: contain;
}

.Info__row{
    display: flex;
    padding-right: 10vw;
    line-height: 2;
}

.Info__cta_row{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
}

.Info__cta_img{
    margin-right:10px;
}

@media only screen and (max-width: 800px) {
    .Info{
        margin-top: 30vw;
    }
    .Info__image{
        width: 90vw;
    }
    .Info__row{
        flex-direction: column;
    }
    .Info__image_2{
        width: 100vw;
        height: 100vw;
        object-fit: cover;
        margin-left: 15vw;
        margin-bottom: 50px;
    }
}