.Video{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Video__title{
    font-family: 'Lemonada';
    font-size: 3em;
    color: #000;
    text-align: center;
}

.Video__placeholder{
    margin-top:50px;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .Video{
        margin-left: 35px;
    }
    .Video__placeholder{
        width: 90vw;
    }
    .Video__title{
        font-size:2em;
    }
}